@inherits LayoutComponentBase

<div class="wrapper">
   <PsTopBar></PsTopBar>
   <PsLeftSideBar></PsLeftSideBar>
   
   <div class="content-page">
      <div class="content">
         <div class="container-fluid">
            @Body
         </div>
      </div>
      <PsFooter></PsFooter>
   </div>
</div>
